

html,
body {
  font-family: "Open Sans",sans-serif;
}

.hero-spacer {
  background-color: #ffff88;
  color: #000;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .hero-spacer {
    min-height: 100vh;
  }
}

.hero-feature {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  div[class="caption"] {
    min-height: 220px;
  }
}

@media screen and (min-width: 1024px) {
  .content {
    float: right;
    padding-top: 25vh;
    width: 40%;
  }
}

@media screen and (min-width: 1024px) {
  .aaron {
    text-align: center;
    float: left;
    width: 60%;
  }
}

.aaron img {
  width: 70%;
  margin-top: 120px;
}

.container {
  text-align: justify;
}

.ellipses {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

div[class="video-wrapper"] {
  overflow: hidden;
  width: 100%;
  padding-bottom: 10px;
}

.video-wrapper iframe {
  width: 100%;
}

.video-wrapper-home iframe {
  padding-left: 10px;
  padding-right: 10px;
}

.twitter-feed {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (min-width: 1024px) {
  .video-wrapper {
    text-align: center;
  }

  .video-wrapper iframe {
    width: 640px;
    height: 480px;
  }

  .twitter-feed {
    padding-top: 0;
    width: 50%;
    float: right;
    margin-right: -20px;
  }

  .video-wrapper-home {
    width: 50%;
    padding-top: 70px;
    float: left;
    margin-left: 20px;
    padding-right: 40px;
  }
}

div[class="footer-wrapper"] {
  margin-top: 50px;
  background-color: #ffff88;
  color: #000;
}

.navbar-inverse {
  border-color: #ffff88;
  background-color: #ffff88;
  margin-bottom: 0px;
  border-radius: 0;
}

.navbar-inverse .navbar-brand {
  color: #000;
  font-weight: bolder;
}

.navbar-inverse .navbar-brand:hover, focus {
  color: #000;
}

.navbar-inverse .navbar-nav li a {
  color: #000;
  font-weight: bolder;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #000;
}

.navbar-inverse .navbar-toggle:hover, focus {
  background-color: #ffff88;
}

.navbar-inverse .navbar-nav li a:hover, focus {
  color: #ffff88;
  background-color: #000;
  font-weight: bolder;
}

.btn-landing {
  font-weight: bolder;
  color: #ffff88;
  background-color: #000;
  border-radius: 0;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn-landing:hover, focus {
  color: #ffff88;
  text-decoration: none;
}

div[class="item"] {
  margin: 10px;
}

footer {
  text-align: center;
  margin: 50px 0;
}

.register {
    margin-top: 30px;
}

@media screen and (min-width: 1024px) {
.register {
    margin-top: 100px;
}
}
